p { color: red; }

.background-image {
    background-image: url('images/IMG_6345.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Optional, to fix the background image */
}